{# Créé par Amandine #}

{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}

{% block main %}
    {% if (id==app.user.id) %}
        <div class="container">
            <h1>Mon profil</h1>
            <div class="row">
                <div class="col-sm left-profile">
                    <img class="profile-pic" src="{{ asset('uploads/'~app.user.photo.photoNom) }}" alt="image de profil">
                </div>
                <div class="col-sm right-profile">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-lg btn-primary" type="submit">Enregistrer</button>
                    <a href="{{ path('home') }}"><button class="btn btn-lg btn-danger" type="submit">Annuler</button></a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm left-profile">
                    <img class="profile-pic" src="{{ asset('img/default.png') }}" alt="image de profil" >
                </div>
                <div class="col-sm right-profile">
                    <h1>{{ participantLambda.username }}</h1>
                    <table class="profile-table">
                        <tbody>
                        <tr>
                            <td class="label-table">Prénom: </td>
                            <td>{{ participantLambda.prenom }}</td>
                        </tr>
                        <tr>
                            <td class="label-table">Nom: </td>
                            <td>{{ participantLambda.nom }}</td>
                        </tr>
                        <tr>
                            <td class="label-table">Téléphone: </td>
                            <td>{{ participantLambda.telephone }}</td>
                        </tr>
                        <tr>
                            <td class="label-table">Email: </td>
                            <td>{{ participantLambda.mail }}</td>
                        </tr>
                        <tr>
                            <td class="label-table">Campus: </td>
                            <td>{{ participantLambda.campus.nom }}</td>
                        </tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td class="label-table">Actif : </td>
                                <td>{{ participantLambda.actif ? 'Oui' : 'Non'  }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if participantLambda.actif%}
                            <a href="{{ path('admin_desactiverUtilisateur', {'id': participantLambda.id}) }}"><button class="btn btn-primary">Désactiver le compte utilisateur</button></a>
                        {% endif %}
                        <a href="{{ path('admin_supprimmerUtilisateur', {'id': participantLambda.id}) }}"><button class="btn btn-primary">Supprimmer le compte utilisateur</button></a>
                    {% endif %}
                    <a href="{{ path('home') }} "><button class="btn btn-primary">Retour</button></a>
                </div>

            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}


{% endblock %}


{% block title %}profil | {{ parent() }}{% endblock %}