{# Créé par Amandine #}

{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/adminForm.css') }}">{% endblock %}

{% block main %}
    <div class="container">
        <h1>Formulaire d'enregistrement d'un nouvel utilisateur</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row justifiy-content-around col">
            <div class="col">
                <button class="btn btn-block btn-primary">Enregistrer</button>
            </div>

            <div class="col">
                <a href="{{ path('admin_participants') }}"><button type="button" class="btn btn-block btn-danger">Annuler</button></a>
            </div>
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}