{% extends 'sortie/sortie.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block titrePage %}Afficher{{ parent() }} {% endblock %}

{% block basDePage %}

    <div class="col-sm-8">
        <h2>Liste des participants</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Pseudo</th>
                <th scope="col" >Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription in inscriptions%}
                <tr>
                    <td><a href="{{ path('profil',{id:inscription.participant.id}) }}">{{ inscription.participant.username }}</a></td>
                    <td>{{ inscription.participant.nom }} {{ inscription.participant.prenom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
{% block boutonAnnuler %} {% endblock %}
