{% extends 'sortie/sortie.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block titrePage %}Modifier{{ parent() }} {% endblock %}

{% block basDePage %}
    <div class="row justify-content-around col">
        <div class="col">{{ form_widget(sortieForm.enregistrer, { 'attr': {'class': 'btn btn-block btn-success'} }) }}</div>
        <div class="col">{{ form_widget(sortieForm.publier, { 'attr': {'class': 'btn btn-block btn-primary'} }) }}</div>
        <div class="col">{{ form_widget(sortieForm.supprimer, { 'attr': {'class': 'btn btn-block btn-danger'} }) }}</div>
        <div class="col">{% block boutonAnnuler %} {{ parent() }} {% endblock %}</div>
    </div>
{% endblock %}

