{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row col-4">
            <h1>Filtrer les sorties</h1>
            {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

            {{ form_widget(form)}}
            <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <div>
            <table class="table table-border table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {#{{ dump(listeSorties) }}#}

                {# Affichage des sorties #}
                {% for sortie in listeSorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("m/d/Y H:m") }}</td>
                        <td>{{ sortie.dateLimiteInscription | date("m/d/Y")}}</td>
                        <td>
                            {# Nombre d'inscrits à la sortie #}
                            {% set compteur = 0 %}
                            {% for participant in sortie.inscriptions %}
                                {% set compteur = compteur+1%}
                            {% endfor %}
                            {{ compteur }} / {{ sortie.nbInscriptionMax }}
                        </td>
                        <td>{{ sortie.etat.libelle }}</td>
                        {# Si je suis inscrit à la sortie, la case est cochée #}
                        <td>
                            {% for participant in sortie.inscriptions %}
                                {% if app.user.id == participant.id %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td>
                            {# Si je suis organisateur et que la sortie n'est pas publiée (ouverte)
                               Je peux modifier et publier ma sortie #}
                            {% if sortie.etat.libelle == 'Créée' %}
                                <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a> - <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                            {# Sinon je peux afficher la sortie #}
                            {% else %}
                                <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}

                            {# Si je suis inscrit, je peux me désister #}
                            {% for participant in sortie.inscriptions %}
                                {% if app.user.id == participant.id and sortie.etat.libelle == 'Ouverte'%}
                                    - <a href="{{ path('sortie_seDesister') }}">Se désister</a>
                                {% endif %}
                            {% endfor %}


                            {# Si je ne suis pas organisateur, ni inscrit à la sortie et que la sortie est ouverte
                               Je peux m'inscrire
                            {% if not sortie.inscriptions %}
                                {% for participant in sortie.inscriptions %}
                                    {% set compteur = 0 %}
                                    {% if app.user.id != participant.id and compteur < 1 %}
                                        {% if sortie.etat.libelle == 'Ouverte' %}
                                            {% if app.user.id != sortie.organisateur.id %}
                                                - <a href="{{ path('sortie_creer') }}">S'inscrire</a >
                                                {% set compteur = 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if sortie.etat.libelle == 'Ouverte' %}
                                    {% if app.user.id != sortie.organisateur.id %}
                                        - <a href="{{ path('sortie_creer') }}">S'inscrire</a >
                                        {% set compteur = 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}#}


                            {% if sortie.etat.libelle == 'Ouverte' and app.user.id != sortie.organisateur.id and sortie.inscriptions%}
                                {% set compteur = 0 %}
                                {% for participant in sortie.inscriptions %}
                                    {% if app.user.id != participant.id and compteur < 1 %}
                                        - <a href="{{ path('sortie_creer') }}">S'inscrire</a >
                                        {% set compteur = 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {# Si je suis organisateur et que la sortie est ouverte, je peux l'annuler #}
                            {% if app.user.id == sortie.organisateur.id and sortie.etat.libelle == 'Ouverte' %}
                                - <a href="{{ path('sortie_annuler') }}">Annuler</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}