{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row col-4">
            <h1>Filtrer les sorties</h1>
            {{ form_start(form) }}

            {{ form_widget(form)}}
            <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <div>
            <table class="table table-border table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in listeSorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut }}</td>
                    <td>{{ sortie.dateLimiteInscription }}</td>
                    <td>{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat }}</td>
                    {% if app.user.id in sortie.inscriptions %}
                        <td> X </td>
                    {% endif %}
                    <td> {{ sortie.organisteur }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

                {#
                {% if sortie.etat === 'Créée' %}
                    <td><a href="#">Modifier</a> - <a href="#">Publier</a></td>
                {% else %}
                    <td><a href="#">Afficher</a></td>
                {% endif %}
                {% if je suis inscrit et je ne suis pas organisateur %}
                    <td><a href="#">Se désister</a></td>
                {% endif %}
                {% if je ne suis pas inscrit et et je ne suis pas organisateur %}
                    <td><a>S'inscrire</a></td>
                {% endif %}
                {% if je suis organisateur et la sortie est ouverte %}
                    <td><a>Annuler</a></td>
                {% endif %}#}


        </div>

    </div>

{% endblock %}