{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col offset-1">
                <h2>Filtrer les sorties</h2>
            </div>
            <div class="col-md-3">
                <p>Date du jour : {{ dateDuJour }}</p>
                <p>Participant : {{ app.user.username }}</p>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row col d-flex align-items-center">
            <div class="col-sm-5">
                {{ form_row(form.campus) }}
                {{ form_row(form.nomSortie) }}
                <div class="row">
                    <div class="col">{{ form_row(form.dateDebut) }}</div>
                    <div class="col">{{ form_row(form.dateFin) }}</div>
                </div>
            </div>
            <div class="col-sm-5">
                {{ form_row(form.filtres) }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        {{ form_end(form) }}
        </div>
        <div>
            <table class="table table-border table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {# Affichage des sorties #}
                {% for sortie in listeSorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                        <td>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</td>
                        <td>
                            {# Nombre d'inscrits à la sortie #}
                            {% set compteur = 0 %}
                            {% for participant in sortie.inscriptions %}
                                {% set compteur = compteur+1%}
                            {% endfor %}
                            {{ compteur }} / {{ sortie.nbInscriptionMax }}
                        </td>
                        <td>{{ sortie.etat.libelle }}</td>
                        {# Si je suis inscrit à la sortie, la case est cochée #}
                        <td>
                            {% for inscription in sortie.inscriptions %}
                                {% if app.user.id == inscription.participant.id %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td>
                            {# Si je suis organisateur et que la sortie n'est pas publiée (ouverte)
                               Je peux modifier et publier ma sortie #}
                            {% if sortie.etat.libelle == 'Créée' and app.user.id == sortie.organisateur.id %}
                                <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a> - <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                            {# Sinon je peux afficher la sortie #}
                            {% else %}
                                <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}

                            {# Je peux m'inscrire ou me désinscrire uniquement si la sortie est ouverte
                               et que je ne suis pas l'organisateur #}
                            {% if sortie.etat.libelle == 'Ouverte' and app.user.id != sortie.organisateur.id %}
                                {# Si je reçois au moins une inscription, je rentre dans la boucle #}
                                {% if sortie.inscriptions.count > 0%}
                                    {% set break = false %}
                                    {# Boucle sur les inscriptions à la sortie pour savoir si je suis inscrit #}
                                    {% for inscription in sortie.inscriptions %}
                                        {# Si je suis inscrit, je peux me désister #}
                                        {% if app.user.id == inscription.participant.id %}
                                            - <a href="{{ path('sortie_seDesister', {'id': sortie.id}) }}">Se désister</a>
                                            {% set break = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for inscription in sortie.inscriptions %}
                                        {% if not break %}
                                            {# Sinon je peux m'inscrire #}
                                            {% if app.user.id != inscription.participant.id %}
                                                - <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a >
                                                {% set break = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {# S'il n'y a pas d'inscriptions, je peux m'inscrire #}
                                {% else %}
                                    - <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a >
                                {% endif %}
                            {% endif %}

                            {# Si je suis organisateur et que la sortie est ouverte, je peux l'annuler #}
                            {% if app.user.id == sortie.organisateur.id and sortie.etat.libelle == 'Ouverte' %}
                                - <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('sortie_creer') }}" class="btn btn-primary">Créer une sortie</a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}