{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row col-4">
            <h1>Filtrer les sorties</h1>
            {{ form_start(form) }}

            {{ form_widget(form)}}
            <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for sortie in listeSorties %}
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut }}</td>
                        <td>{{ sortie.dateLimiteInscription }}</td>
                        <td>{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat }}</td>
                        <td>inscrit</td>
                        <td> {{ sortie.organisteur }}</td>
                        {#
                        {% if sortie.etat === 'Créée' %}
                            <td><a href="#">Modifier</a> - <a href="#">Publier</a></td>
                        {% else %}
                            <td><a href="#">Afficher</a></td>
                        {% endif %}
                        {% if je suis inscrit et je ne suis pas organisateur %}
                            <td><a href="#">Se désister</a></td>
                        {% endif %}
                        {% if je ne suis pas inscrit et et je ne suis pas organisateur %}
                            <td><a>S'inscrire</a></td>
                        {% endif %}
                        {% if je suis organisateur et la sortie est ouverte %}
                            <td><a>Annuler</a></td>
                        {% endif %}#}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}